<!-- Sidebar  -->
<div class="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['']"><i class="fa fa-home fa-lg"></i> Home</a>
      </li>
      <li
        *ngIf="
          this.openIdConnectService.userAvailable &&
          this.openIdConnectService.user.profile.role == 'Staff'
        "
      >
        <a [routerLink]="['/student-list']"
          ><i class="fa fa-users fa-lg"></i>Users</a
        >
      </li>
      <li
        *ngIf="
          this.openIdConnectService.userAvailable &&
          this.openIdConnectService.user.profile.role == 'Staff'
        "
      >
        <a href="#" [routerLink]="['/dormitory-list']"
          ><i class="fa fa-building-o fa-lg" aria-hidden="true"></i
          >Dormitories</a
        >
      </li>
      <li
        *ngIf="
          this.openIdConnectService.userAvailable &&
          this.openIdConnectService.user.profile.role == 'Staff'
        "
      >
        <a href="#" [routerLink]="['/room-list']"
          ><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>Rooms</a
        >
      </li>
      <li
        *ngIf="
          this.openIdConnectService.userAvailable &&
          this.openIdConnectService.user.profile.role == 'Student'
        "
      >
        <a [routerLink]="['/profile']"
          ><i class="fa fa-users fa-lg"></i>Profile</a
        >
      </li>
      <li
        *ngIf="
          this.openIdConnectService.userAvailable &&
          this.openIdConnectService.user.profile.role == 'Student'
        "
      >
        <a [routerLink]="['/roommates-list']"
          ><i class="fa fa-users fa-lg"></i>My Roommates</a
        >
      </li>
      <li
        *ngIf="
          this.openIdConnectService.userAvailable &&
          this.openIdConnectService.user.profile.role == 'Staff'
        "
      >
        <a [routerLink]="['/app-requests-list']"
          ><i class="fa fa-users fa-lg"></i>Students Requests</a
        >
      </li>
    </ul>
  </nav>
</div>
