<div class="profile-wrapper row">
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top"
        src="https://photos.wikimapia.org/p/00/03/31/95/92_big.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Гуртожиток</h5>
        <p class="card-text">
          Ви проживаєте у гуртожитку №1, за адресою вул Лукаша 5 Змінити
          гуртожиток, повідомити про стан гуртожитка, відкрити карту, загальна
          інформація
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="https://www.stroygaz.ru/upload/iblock/a22/a229a033b668bade5d7836843e8bb89e.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Кімната</h5>
        <p class="card-text">
          Переглянути список людей у кімнаті, повідомити про стан кімнати,
          загальна інформація
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="https://i.pinimg.com/originals/bc/57/60/bc5760a5e99c1fa8c7ee4cdf7c29e851.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Профіль</h5>
        <p class="card-text">
          Інформація про студента - ПІБ, проживання оплачене до 15.07.2020
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
