<h1 id="tableLabel">Manage Active Rooms</h1>

<p *ngIf="!rooms"><em>Loading...</em></p>

<nav class="navbar navbar-light bg-light justify-content-between">
  <div>
    <button class="btn btn-outline-secondary mr-sm-2">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Add Room
    </button>
    <button class="btn btn-outline-secondary">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Add Multiple
      Rooms
    </button>
  </div>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="rooms">
  <thead>
    <tr>
      <th>Name</th>
      <th>Floor</th>
      <th></th>
      <th>Dormitory Name</th>
      <th>Dormitory Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <td>{{ room.name }}</td>
      <td>{{ room.floor }}</td>
      <td><i class="fa fa-ellipsis-v fa-sm" aria-hidden="true"></i></td>
      <td>{{ room.dormitory.name }}</td>
      <td>{{ room.dormitory.address }}</td>
    </tr>
  </tbody>
</table>
